/*Body */

html {
  font-size: 18px;

}

/* Page Container */

.pageContainer {
width: 1600px;
height: 1240px;




}

/* Site Container */
.siteContainer {
display: flex;
flex-direction: row;
align-items: center;
width: 960px;
height: 3rem;
border: 1px solid red;
position: absolute;
background: cadetblue;
opacity: 0.5;
color: white;
padding: 20px;
top: 1rem;
margin-left: 6rem;
font-family: Helvetica;
font-size: 1rem;
border-radius: 4px;


}

.siteContainer img {
  max-height: 1.5rem;
  max-width: 2rem;
  margin-right: 1rem;
  margin-left: 2rem;
}

.siteContainer nav span {
  padding: 1rem;

}

.siteContainer nav {
  margin-left: 20rem;
}

.siteContainer2 {
display: flex;
flex-direction: row;
width: 50%;
height: 5rem;
position: absolute;
background: white;
opacity: 0.5;
color: black;
top: 10rem;
margin-left: 28rem;
font-family: Helvetica;
font-weight: bold;
font-size: 2rem;
border-radius: 4px;
text-align: center;
line-height: 1.2;


}

.siteContainer2 span {
padding-top: 1.5rem;
padding-bottom: 1.5rem;
padding-left: 5rem;
padding-right: 5rem;
}

/* Upper Container */

.upperContainer {
  width: 100%;
  height: auto;
  position: relative;



}

.upperContainer img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;

}

/* Lower Container */

.lowerContainer {
  width: 960px;
  height:55%;
  margin-left: 7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.innerContainer1 {
  width: 35rem;
  height: 12rem;
  position: relative;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

}

.icon1 {
  width:8rem;
  height: 8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: Grey;
  font-family: Helvetica;
  text-align: center;

}

.icon1 img {
  max-width: 3.5rem;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1rem;

}

.icon2 {
  width:8rem;
  height: 8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: Grey;
  font-family: Helvetica;
  text-align: center;
}

.icon2 img {
  max-width: 5rem;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 3rem;

}

.icon3 {
  width:8rem;
  height: 8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: Grey;
  font-family: Helvetica;
  text-align: center;
}

.icon3 img {
  max-width: 6rem;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2rem;

}

.innerContainer2 {
  width: 45rem;
  height: 15rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.philblock {
  width: 19rem;
  height: 12rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.ic21 {
  width: 9rem;
  height: 3rem;
  border-radius: 4px;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  padding-left: 1.25rem;


}

.ic211 {
  width: 18rem;
  height: 8rem;
  margin-left: 0;
  display: block;
  font-family: Helvetica;
  font-size: 1rem;
  color: grey;
  background-color: white;
  margin-top: 1.25rem;
  border-radius: 4px;


}

.appblock {
  width: 19rem;
  height: 12rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.ic22 {
  width: 9rem;
  height: 3rem;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  padding-left: 1.25rem;
  border-radius: 4px;


}

.ic221 {
  width: 18rem;
  height: 8rem;
  margin-left: 0;
  display: block;
  font-family: Helvetica;
  font-size: 1rem;
  color: grey;
  background-color: white;
  margin-top: 1.25rem;
  border-radius: 4px;


}
.innerContainer3 {
  width: 45rem;
  height: 5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  border-radius: 4px;


}

.siteContainer4 {
display: flex;
flex-direction: row;
align-items: center;
width: 960px;
height: 3rem;
background: white;
opacity: 0.5;
color: black;
top: 1rem;
margin-left: 0;
font-family: Helvetica;
font-size: 1rem;
border-radius: 4px;


}


.siteContainer4 img {
  max-height: 1.5rem;
  max-width: 2rem;
  margin-right: 1rem;
  margin-left: 0;
}
